#
# Copyright (c) 2017, Broadcom
#
# SPDX-License-Identifier: Apache-2.0
#

config SOC_FAMILY_LYNX
	bool
	# omit prompt to signify a "hidden" option
	default n

if SOC_FAMILY_LYNX
config SOC_FAMILY
	string
	default "bcm_lynx"
endif

source "arch/arm/soc/bcm_lynx/*/Kconfig.soc"
